<% if (user) { %>
  <div width="550px" heigth="550px">
    <h3>Choose your level and START </h3>
    <table>
      <tr>
        <a href="/home-page/beginner">
          <button type="button" name="button">BEGINNER</button>
        </a>
      </tr>
      <tr>
        <a href="/home-page/intermediate">
          <button type="button" name="button">INTERMEDIATE</button>
        </a>
      </tr>
      <tr>
        <a href="/home-page/advance">
          <button type="button" name="button">ADVANCE</button>
        </a>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <h2> Go back to the <a href="/">Index</a></h2>
  </div>
<% } %>
